/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 24, 2023, 3:31:03 PM
    Author     : admin
*/

VBox {
    -fx-background-color: lightblue;
    -fx-font-family: Tahoma;
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-alignment:  CENTER;
}

HBox {
    -fx-spacing: 5;
}

Text.Subject {
    -fx-fill: red;
    -fx-stroke: gold;
    -fx-stroke-width: 3;
    -fx-font-size: 30;
}

